DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USER_NAME=root
DATABASE_USER_PASSWORD=iEq7xzENQ43k4CL!@#
DATABASE_NAME=book_sharing
DATABASE_TYPE=

ADMIN_EMAIL=
ADMIN_EMAIL_PASSWORD=
EMAIL_HOST=
EMAIL_HOST_PORT=

ADMIN_LOGIN=
ADMIN_PASSWORD=

SECRET=

JWT_REFRESH_SECRET=test
JWT_ACCESS_SECRET=test2
