<div class="page main">
  <div class="main__search-bar" appSearchBar (search)="search($event)"></div>
  <div
    class="main__search-filter"
    appSearchFilter
    (filterChanges)="onFilterChanges($event)"
  ></div>

  <div *ngIf="resultList && resultList.length" class="result-list">
    <section
      *ngFor="let offer of resultList"
      appBookOfferCard
      [inCollection]="offer.inCollection"
      [hasCollectionButton]="isAuthtorized$ | async"
      [hasExchangeButton]="
        (isAuthtorized$ | async) && offer.user.id !== user?.id
      "
      (detailsClick)="navigateToDetailsPage($event)"
      (collectionButtonClick)="toggleCollectionState(offer)"
      (exchangeClick)="openCreateExchangeModal($event)"
      [bookOffer]="offer"
    ></section>
  </div>

  <h5 *ngIf="resultList && !resultList.length" appSubtitle>
    По вашему запросу ничего не найдено
  </h5>
</div>
