@import 'mixins';

.navbar {
  display: flex;
  justify-content: flex-start;
  padding: 0.75rem;

  @include mobile {
    flex-direction: column;
  }
}

.link {
  margin-right: 1rem;
  font: var(--tui-font-text-m);
  font-weight: 700;

  @include modifier(active) {
    font-weight: 700;
  }

  @include mobile {
    font: var(--tui-font-text-s);
  }
}
