@import 'mixins';

.navbar {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
}

.link {
  margin-right: 1rem;
  font: var(--tui-font-text-m);
  font-weight: 700;

  @include modifier(active) {
    font-weight: 700;
  }
}
