<div class="user-info" *ngIf="user">
  <app-user-info-card
    [user]="user"
    (onClickChangeButton)="navigateToChangeUserInfo($event)"
  ></app-user-info-card>

  <div class="user-info__offer-list offer-list">
    <h4
      appSubtitle
      class="offer-list__title"
      *ngIf="bookOffers && !bookOffers.length"
    >
      <span appLink (click)="navigateToCreateBookOffer()">Добавьте</span> свою
      первую книгу
    </h4>

    <ng-container *ngIf="bookOffers && bookOffers.length">
      <h4 appSubtitle>Мои книги</h4>

      <ng-container *ngFor="let bookOffer of bookOffers">
        <div
          class="offer-list__book-offer"
          (changeButtonClick)="navigateToChangeBookOffer($event)"
          (detailsClick)="navigateToOfferDetails($event)"
          appBookOfferCard
          [hasExchangeButton]="false"
          [isShowUserInfo]="false"
          [hasChangeButton]="true"
          [bookOffer]="bookOffer"
        ></div>
      </ng-container>
    </ng-container>
  </div>
</div>
