@import 'mixins';

.user-info {
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  @include element(offer-list) {
    width: 100%;
  }

  @include tablet {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }
}

.offer-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;

  @include element(title) {
    width: 100%;
    text-align: center;
  }

  @include element(book-offer) {
    width: 100%;
  }
}

.row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.info {
  padding: 2rem;
  border: 1px solid var(--tui-base-03);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;

  @include element(avatar) {
    align-self: center;
    margin-bottom: 0.5rem;
  }
}
