@import 'mixins';

.card {
  padding: 2rem;
  border: 1px solid var(--tui-base-03);
  border-radius: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;

  @include mobile {
    padding: 1rem;
    flex-direction: column-reverse;
    align-items: stretch;
  }
}

.preview {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  @include mobile {
    align-items: stretch;
  }

  @include element(picture) {
    width: 10rem;
    height: 14rem;
  }
}

.description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  @include element(preview) {
  }
}

.row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;

  @include mobile {
    flex-direction: column;
    align-items: flex-start;
  }
}

.text {
  overflow-wrap: break-word;

  @include mobile {
    font-size: 0.9rem;
  }
}

.subtitle {
  @include mobile {
    font-size: 1.2rem;
  }
}
