<div *ngIf="bookOffer" class="card">
  <div class="card__preview preview">
    <span [ngStyle]="pictureStyles" class="preview__picture"></span>

    <button
      *ngIf="hasCollectionButton"
      (click)="onClickCollectionButton()"
      tuiButton
      [appearance]="inCollection ? 'accent' : 'primary'"
      size="s"
      type="button"
    >
      {{ inCollection ? 'Удалить из закладок' : 'В закладки' }}
    </button>

    <button
      *ngIf="hasExchangeButton"
      (click)="onClickExchangeButton()"
      tuiButton
      appearance="outline"
      size="s"
      type="button"
    >
      Обменять
    </button>

    <button
      *ngIf="hasChangeButton"
      (click)="onClickChangeButton()"
      tuiButton
      appearance="primary"
      size="s"
      type="button"
    >
      Изменить
    </button>
  </div>

  <div class="card__description description">
    <div class="row">
      <tui-tag size="m" [value]="deliveryType"></tui-tag>
      <tui-tag size="m" [value]="offerType"></tui-tag>

      <!-- <tui-tag
        size="m"
        [value]="bookOffer.offerStatus"
        status="success"
      ></tui-tag> -->

      <tui-tag
        size="m"
        [value]="bookOffer.isActive ? 'Доступно' : 'Скрыто'"
        [status]="bookOffer.isActive ? 'primary' : 'warning'"
      ></tui-tag>
    </div>

    <h5 class="subtitle" appSubtitle>{{ bookOffer.book.title }}</h5>
    <p class="text" appText>{{ bookOffer.info }}</p>

    <p class="text" appText>
      {{ bookOffer.location.region }}, {{ bookOffer.location.city }}
    </p>

    <ng-container *ngIf="isShowUserInfo">
      <p appText>
        Пользователь:
        <span class="subtitle" appSubtitle>{{ bookOffer.user.username }}</span>
      </p>
    </ng-container>

    <span (click)="onClickDetails()" appLink>Подробнее</span>
  </div>
</div>
