<form [formGroup]="filterForm" class="filter row">
  <tui-select
    class="filter__input"
    [stringify]="stringifyDeliveryTypes"
    [tuiTextfieldSize]="fieldSize"
    formControlName="deliveryType"
  >
    Условия доставки
    <input tuiTextfield placeholder="Условия доставки" />
    <tui-data-list-wrapper
      *tuiDataList
      [items]="deliveryTypeTexts"
      [itemContent]="stringifyDeliveryTypes | tuiStringifyContent"
    ></tui-data-list-wrapper>
  </tui-select>

  <tui-select
    class="filter__input"
    [stringify]="stringifyOfferType"
    [tuiTextfieldSize]="fieldSize"
    formControlName="offerType"
  >
    Условия обмена
    <input tuiTextfield placeholder="Условия обмена" />
    <tui-data-list-wrapper
      *tuiDataList
      [items]="offerTypeTexts"
      [itemContent]="stringifyOfferType | tuiStringifyContent"
    ></tui-data-list-wrapper>
  </tui-select>

  <tui-select
    class="filter__input"
    [stringify]="stringifyLocationRegion"
    [tuiTextfieldSize]="fieldSize"
    formControlName="region"
  >
    Регион
    <input tuiTextfield placeholder="Регион" />
    <tui-data-list-wrapper
      *tuiDataList
      [items]="locationRegionTexts"
      [itemContent]="stringifyLocationRegion | tuiStringifyContent"
    ></tui-data-list-wrapper>
  </tui-select>

  <!-- <div class="row">
    <tui-toggle formControlName="isActive" size="l"></tui-toggle>
    <span>Объявление активно?</span>
  </div> -->
</form>
