<div>
  <div *ngIf="exchangeList" class="list">
    <p appSubtitle *ngIf="!exchangeList.length">Ничего не найдено...</p>

    <div
      *ngFor="let exchange of exchangeList"
      appExchangeCard
      (clickExchangeButton)="handleChangeExchangeState($event)"
      [isShowExchangeButtons]="
        user && user.id !== exchange.from.user.id && exchange.status !== 1
      "
      [exchange]="exchange"
    ></div>
  </div>

  <p *ngIf="exchangeList && !exchangeList.length">Ничего не найдено...</p>
</div>
